@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400&display=swap");
@import "swiper/swiper-bundle.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	padding-block: 10rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	background-color: #f2f8fb;
}

ul {
	list-style-type: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-inline: 40px;
}

.swiper {
	overflow: clip visible;
	border: 1px solid #eee;
	border-radius: 20px;
	padding: 20px;
	background-color: #fff;
}

.swiper-slide {
	max-width: max-content;
}

.dropdown-wrapper {
	position: relative;
}

.dropdown-trigger,
.dropdown-item-label {
	display: inline-flex;
	user-select: none;
	padding: 10px;
}

.dropdown-trigger {
	border-radius: 10px;
	border: 1px solid #ddd;
}

.dropdown-list-wrapper {
	width: max-content;
	min-width: 100%;
	margin-top: 5px;
	position: absolute;
	top: 100%;
	display: none;
	border-radius: 10px;
	border: 1px solid #ddd;
	overflow: hidden;
	background-color: #fff;
	z-index: 10;
}

.dropdown-list {
	overflow: hidden auto;
	max-height: 160px;
}

.dropdown-item-label {
	text-wrap: nowrap;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.dropdown-item-label input[type=checkbox] {
	position: relative;
	color: #333;
	appearance: none;
	width: 20px;
	aspect-ratio: 1;
	border: 1px solid currentColor;
	border-radius: 2px;
	transition: color .2s ease-in-out;
}

.dropdown-item-label input[type=checkbox]:checked {
	color: #fe8d59;
}

.dropdown-item-label input[type=checkbox]:checked::before {
	background-color: currentColor;
}

.dropdown-item-label input[type=checkbox]::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	width: 14px;
	aspect-ratio: 1;
	border-radius: 1px;
	background-color: transparent;
	transition: background-color .2s ease-in-out;
}

@media (any-hover: hover) {
	.dropdown-item-label:hover {
		background-color: color-mix(in srgb, #000, transparent 95%);
	}
}