@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400&display=swap");
@import "swiper/swiper-bundle.css";

:root {
	--accent-color: #fe8d59;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	padding-block: 10rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	background-color: #f2f8fb;
}

ul {
	list-style-type: none;
}

input {
	outline: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-inline: 40px;
}

.swiper {
	overflow: clip visible;
	border: 1px solid #eee;
	border-radius: 20px;
	padding: 20px;
	background-color: #fff;
}

.swiper-slide {
	max-width: max-content;
}

.dropdown-wrapper {
	position: relative;

	&.dropdown-active {
		.dropdown-list-wrapper {
			visibility: visible;
			margin-top: 5px;
			pointer-events: auto;
		}
	}
}

.dropdown-trigger,
.dropdown-item-label {
	cursor: pointer;
	display: inline-flex;
	user-select: none;
	padding: 10px;
}

.dropdown-trigger {
	border-radius: 10px;
	border: 1px solid #ddd;
}

.dropdown-list-wrapper {
	width: max-content;
	min-width: 100%;
	margin-top: 15px;
	position: absolute;
	top: 100%;
	visibility: hidden;
	border-radius: 10px;
	border: 1px solid #ddd;
	overflow: hidden;
	background-color: #fff;
	z-index: 10;
	pointer-events: none;
	transition-property: visibility, margin-top;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}

.dropdown-list {
	overflow: hidden auto;
	max-height: 160px;
}

.dropdown-item-label {
	text-wrap: nowrap;
	align-items: center;
	gap: 10px;
	width: 100%;

	@media (any-hover: hover) {
		&:hover {
			background-color: color-mix(in srgb, #000, transparent 97%);
		}
	}

	&:active {
		background-color: color-mix(in srgb, #000, transparent 94%);
	}

	input[type=checkbox] {
		position: relative;
		color: #333;
		appearance: none;
		width: 20px;
		height: 20px;
		aspect-ratio: 1;
		border: 1px solid currentColor;
		border-radius: 2px;
		transition: color .2s ease-in-out;

		&:checked {
			color: var(--accent-color);

			&::before {
				background-color: currentColor;
			}
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: "";
			width: 14px;
			aspect-ratio: 1;
			border-radius: 1px;
			background-color: transparent;
			transition: background-color .2s ease-in-out;
		}
	}
}

/* Анимация подсказки скролла */
.scroll-hint {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	pointer-events: none;
}

.scroll-hint::after {
	content: "⇕";
	font-size: 20px;
	color: var(--accent-color);
	animation: bounce 1.5s infinite;
}

.scroll-hint.hidden {
	opacity: 0;
}

.range-dropdown-inputs {
	--radius: 6px;
	width: 240px;
	display: flex;
	align-items: center;
	padding: 10px;

	:first-child {
		border-top-left-radius: var(--radius);
		border-bottom-left-radius: var(--radius);
	}

	:last-child {
		border-top-right-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}
}

.range-dropdown-input {
	--border-color: #eee;
	appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
	}
	padding: 10px;
	flex: 1 1 0;
	width: 100%;
	border: 1px solid var(--border-color);
	transition: border-color 0.3s ease-in-out;

	&:not(:disabled, :focus) {
		@media (any-hover: hover) {
			&:hover {
				border-color: color-mix(in srgb, var(--accent-color), #fff 80%);
			}
		}
	}

	&:focus {
		border-color: var(--accent-color);
	}

	&:disabled {
		opacity: 60%;
	}
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
}